.content{
    margin-top:30px;
}

.card{
    padding-left:0px;
}

.profilePhoto{
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px;
}

.profile__description{
    margin-top:20px;
    text-align: left;
}

.profile__name{
    font-size: 30px;
    font-weight: bold;
}

.profile__editButton{
    margin-top:20px;
}